<%- include('../layouts/adminheader.ejs') %>

<div class="categories section">
	<h2 class="section__title categories__title"><%= title %></h2>
    <span class="section__subtitle"></span>
    <hr>
    <a href="/admin/categories/add-category" class="button button--flex add__button--admin">Add a new category</a>
	<div class="category__container grid">
        <div class="table__title--cat">
           <p>Category</p> 
           <p>Edit</p> 
           <p>Delete</p> 
        </div>

        <div class="table__content">
            <% categories.forEach(function(cat) { %>
                <div class="category">
                    <div><%= cat.title %></div>
                    <div><a class="button button--flex" href="/admin/categories/edit-category/<%= cat._id %> ">Edit</a></div>
                    <div><a class="confirmDeletion button button--flex" href="/admin/categories/delete-category/<%= cat._id %>">Delete<a></div>
                </div>
          <% }); %> 
        </div>
	</div>
</div>

<%- include('../layouts/footer.ejs') %>

