<%- include('../layouts/adminheader.ejs') %>

<div class="categories section">
	<h2 class="section__title categories__title"><%= title %></h2>
  <span class="section__subtitle"></span>
  <hr>
  <a href="/admin/products/add-product" class="button button--flex add__button--admin">Add a new product</a>

	<div class="products__container grid">
        <div class="table__title">
          <span>Product</span>
          <span>Price</span>
          <span>Quantity</span>
          <span>Category</span>
          <span>Image</span>
          <span>Edit</span> 
          <span>Delete</span> 
        </div>

        <div class="table__content">
          <% products.forEach(function(product) { %>
            <div class="admin__product">
              <span><%= product.title %></span>
              <span>$<%= parseFloat(product.price).toFixed(2) %></span>
              <span><%= product.quantity %> </span>
              <span><%= product.category %></span>
              <span>
                <% if (product.image === "") { %>
                <img id="noImage" src="/images/no_image.png">
                <% } else { %>
                <img id="uploadedImage"src="/product_images/<%= product._id %>/<%= product.image %>">
                <% } %> 
              </span>
              <span><a class="button button--flex" href="/admin/products/edit-product/<%= product._id %>">Edit</a></span>
              <span><a class="confirmDeletion button button--flex" href="/admin/products/delete-product/<%= product._id %>">Delete</a></span>
            </div>
            <% }); %> 
        </div>
	</div>
</div>
</div>



<%- include('../layouts/footer.ejs') %>

