<%- include('./layouts/header.ejs') %>
<% if (typeof cart !=="undefined") { %>
  <h1 class="page__title">My shopping cart</h1>
  <hr>
  <div class="checkout__container">
    <div class="table__container">
      <a href="/#shop" class="button--flex button button--small checkout__back"><i class="fa-solid fa-arrow-left fa-lg"></i> Go back</a>
      <% var total = 0; %> 
      <% cart.forEach(product => { %>
        <% let sub = parseFloat(product.quantity * product.price).toFixed(2) %>
        <% total += +sub %> 
        <div class="table__product">
          <img class="product__image table__content" src="<%= product.image %>" alt="">
          <div class="product__info">
            <p class="product__title"><%= product.title.charAt(0).toUpperCase() + product.title.slice(1) %></p>


          <div class="quantity">
            <div class="product__quantity"><p>Quantity: <span class="quantity__num"><%= product.quantity %></span></p></div>
            <div class="buttons">
              <a class="button--flex button button--small modify" href="/cart/update/<%= product.title %>?action=add"><i class="fa-solid fa-plus"></i></a>
              <a class="button--flex button button--small modify" href="/cart/update/<%= product.title %>?action=remove"><i class="fa-solid fa-minus"></i></a>
              <a class="button--flex button button--small clear__product" href="/cart/update/<%= product.title %>?action=clear"><p class="clear__text">Clear</p></a>
            </div>
          </div>
          <div class="subtotal">
            <p>Subtotal: </p>
            <p class="product__subtotal"><%= sub %>&euro;</p>
          </div>
          </div>
        </div>
      <% }) %>
      <div class="total">
        <p>Total: <%= parseFloat(total).toFixed(2) %>&euro;</p>
      </div>
      <!-- MODAL -->
      <div class="clear__modal" id="clear__modal">
          <div class="clear__modal-content">
              <!-- <i class="fas fa-times shop__modal-close"></i> -->
                  <div class="clear__question">
                    <span class="danger__warning">Do you really want to delete your whole cart?</span>
                  </div>
                  <div class="answer__buttons">
                    <a class="button--flex button button--small" href="/cart/clear">Yes</a>
                    <a class="button--flex button button--small close__clear--modal" href="#">No</a>
                  </div>
          </div>
      </div>

      <div class="table__product checkout__bg">
        <div class="checkout__buttons">
          <a class="button--flex button button--small clearcart" href="#">
            Clear cart
          </a>
          
          <a class="button--flex button button--small buynow" href="#" target="_blank">
            Buy now
          </a>
        </div>
      </div>
    </div>
  </div>
<% } else { %>
<h1 class="page__title">My shopping cart</h1>
<hr>
 <div class="cart-container">
  <div class="cart-content">
    <h3 class="text">Your cart is empty!</h3>

    <a class="button--flex button button--small go-shopping" href="/#shop">
      Go shopping <i class="fas fa-arrow-right button__icon"></i>
    </a>
  </div>
 </div> 
<% } %> 

<input type="hidden" name="cmd" value="_ext-enter">
<form class="pp" action="https://www.sandbox.paypal.com/us/cgi-bin/webscr" method="post">
   <input type="hidden" name="cmd" value="_cart">
   <input type="hidden" name="upload" value="1">
   <input type="hidden" name="business" value="sb-7xqb4313068344@business.example.com">
   <input type="hidden" name="return" value="http://www.localhost:3000">
   <% if (typeof cart !== "undefined") { %>
    <% let num = 0; %> 
    <% cart.forEach(p => { %>
     <% num++ %>
     <input type="hidden" name="item_name_<%= num %>" value="<%= p.title %>"> 
     <input type="hidden" name="amount_<%= num %>" value="<%= p.price %>">
     <input type="hidden" name="quantity_<%= num %>" value="<%= p.quantity %>">
    <% }) %>
   <% } %>
   <input type="hidden" name="currency_code" value="EUR">
   <input type="hidden" name="amount" value="<%= total %>">
   <input type="image" name="submit" alt="">
</form>

<script>
  $(function() {
    const modalClear = document.querySelector(".clear__modal");
    $('a.clearcart').on('click', function() {
      modalClear.classList.add('active-modal');
    });
    $('a.close__clear--modal').on('click', function() {
      modalClear.classList.remove('active-modal');
    });
  }); 

  $(function() {
    $('a.buynow').on('click', function(e) {
      e.preventDefault();

      $.get('/cart/buynow', () => {
        $('form.pp input[type="image"]').click();
        $('.ajaxbg').show();
        
        setTimeout(() => {
          $('.ajaxbg').hide();
        }, 4000);
      });
    });
  }); 
</script>
<%- include('./layouts/footer.ejs') %>