<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- SWIPER CSS -->
  <link rel="stylesheet" href="/css/swiper.css">
  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
  <!-- Fontawesome -->
  <!-- <script src="https://kit.fontawesome.com/eeeb79369f.js" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <title>Portfolio | Lumi Hennig</title>
</head>
<body>
  <!-- HEADER -->
  <header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="nav__logo">Lumi</a>
      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list grid">

          <li class="nav__item">
            <a href="#home" class="nav__link active-link">
              <i class="fas fa-home nav__icon"></i> Home
            </a>
          </li>

          <li class="nav__item">
            <a href="#services" class="nav__link">
              <i class="fas fa-briefcase nav__icon"></i> Services
            </a>
          </li>

          <li class="nav__item">
            <a href="#shop" class="nav__link">
              <i class="fas fa-file-alt nav__icon"></i> Shop
            </a>
          </li>        

          <li class="nav__item">
            <a href="#portfolio" class="nav__link">
              <i class="fas fa-palette nav__icon"></i> Portfolio
            </a>
          </li>

          <li class="nav__item">
            <a href="#about" class="nav__link">
              <i class="far fa-user nav__icon"></i> About
            </a>
          </li>

          <li class="nav__item">
            <a href="#contact" class="nav__link">
              <i class="far fa-envelope nav__icon"></i> Contact
            </a>
          </li>

          <% if (user && user.admin == 1) { %>
            <li class="nav__item">
              <a class="nav__link" href="/admin">
                <i class="fa-solid fa-hammer nav__icon"></i> Admin Area</a>
            </li>
          <% } %> 
        </ul>

        <i class="fas fa-times nav__close nav__icon" id="nav-close"></i>
      </div>

      <!-- Theme change button  -->
      <i class="far fa-moon change-theme" id="theme-button"></i>
      <!-- <i class="fa-solid fa-sun-bright change-theme" id="theme-button"></i> -->

      <!-- Shopping cart -->
      <a href="/cart/checkout" class="cart__icon">
        <i class="fa-lg fa-solid fa-cart-shopping" id="cart-icon"></i>
      </a>

      <!-- Nav toggle -->
      <div class="nav__toggle" id="nav-toggle">
        <i class="fas fa-ellipsis-h"></i>
      </div>

    </nav>
  </header>
  
  <main class="main">
    <!--  HOME  -->
    <section class="home section" id="home">
      <div class="home__container container grid">
        <div class="home__content grid">
          <div class="home__social">
            <a href="https://www.instagram.com/lumi_hen" class="home__social-icon" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>

            <a href="https://www.github.com/lumi-hen" class="home__social-icon" target="_blank">
              <i class="fab fa-github"></i>
            </a>

            <a href="#" class="home__social-icon" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>

          <div class="home__img">
            <img style="border-radius: 10px;" src="/images/profile-pic.jpg">
          </div>

          <div class="home__data">
            <h1 class="home__title">
              I am Lumi Hennig
            </h1>
            <h3 class="home__subtitle">
              Illustrator and clothing designer
            </h3>
            <p class="home__description">
              A lot of practice, knowledge and the ability to quickly adapt, producing quality work.
            </p>
            <a href="#contact" class="button button--flex contact-me__home">
             Contact Me <i class="far fa-envelope button__icon"></i> 
            </a>
          </div>
        </div>

        <div class="home__scroll">
          <a href="#about" class="home__scroll-button button--flex">
            <i class="fas fa-mouse home__scroll-mouse"></i>
            <span class="home__scroll-name"> Scroll down </span>
            <i class="fas fa-arrow-down home__scrol-arrow"></i>
          </a>
        </div>
      </div>
    </section>

    <!-- SERVICES -->
    <section class="services section" id="services">
      <h2 class="section__title">Services & Details</h2>
      <span class="section__subtitle">What I have to offer</span>

      <div class="services__container container grid">
        <!-- Service 1 -->
        <div class="services__content">
          <div>
            <i class="fas fa-swatchbook services__icon"></i>
            <h3 class="services__title">Digital <br> Illustration</h3>
          </div>

          <span class="button button--flex button--small button--link services__button">
            View More
            <i class="fas fa-arrow-right button__icon"></i>
          </span>

          <div class="services__modal" id="services__modal">
            <div class="services__modal-content">
              <h4 class="services__modal-title">Digital Illustration</h4>
              <i class="fas fa-times services__modal-close"></i>

              <ul class="services__modal-services grid">
                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>I do high quality digital illustraions and paintings.</p>
                </li>

                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>Stay in touch to meet your expectations.</p>
                </li>

                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>Good intuive feeling for asthetics and color.</p>
                </li>

                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>I do mock ups for your brand.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Service 2 -->
        <div class="services__content">
          <div>
            <i class="fas fa-tshirt services__icon"></i>
            <h3 class="services__title">Clothing <br> Design</h3>
          </div>

          <span class="button button--flex button--small button--link services__button">
            View More
            <i class="fas fa-arrow-right button__icon"></i>
          </span>

          <div class="services__modal" id="services__modal">
            <div class="services__modal-content">
              <h4 class="services__modal-title">Clothing Design</h4>
              <i class="fas fa-times services__modal-close"></i>

              <ul class="services__modal-services grid">
                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>I sew all clothes on my own.<p>
                </li>

                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>Every piece is fairtrade.</p>
                </li>

                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>I only use organic cotton.</p>
                </li>

                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>Designs that are interesting and pleasing.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Service 3 -->
        <div class="services__content">
          <div>
            <i class="fas fa-code-branch services__icon"></i>
            <h3 class="services__title">Frontend <br> Development</h3>
          </div>

          <span class="button button--flex button--small button--link services__button">
            View More
            <i class="fas fa-arrow-right button__icon"></i>
          </span>

          <div class="services__modal" id="services__modal">
            <div class="services__modal-content">
              <h4 class="services__modal-title">Frontend Development</h4>
              <i class="fas fa-times services__modal-close"></i>

              <ul class="services__modal-services grid">
                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>I develop the user interface.</p>
                </li>

                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>Web page development.</p>
                </li>

                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>I create ux element interactions.</p>
                </li>

                <li class="services__modal-service">
                  <i class="far fa-check-circle services__modal-icon"></i>
                  <p>I position your company brand</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SHOP -->
    <section class="shop section" id="shop">
      <h2 class="section__title">Shop</h2>
      <span class="section__subtitle">For sale</span>

      <div class="shop__container container">
        <% products.forEach(product => { %>
          <div class="shop__content grid">
           <a href="/product-details/<%= product.slug %> "><img class="shop__img" src="/product_images/<%= product._id %>/<%= product.image %>" alt=""></a>
            <div class="shop__data">
                <h3 class="shop__title"><%= product.title %></h3>
                <h4 id="price" class="shop__description"><%= parseFloat(product.price).toFixed(2) %></h4>
                <p class="shop__description"><%= product.desc %></p>
            </div>
            <div class="shop__buttons">
                <a class="button--flex button button--small add__button" href="/cart/add/<%= product.slug %>">
                  Add to cart <i class="fa-solid fa-cart-plus button__icon"></i>
                </a>
                
                <a class="button--flex button button--small view__more" href="/product-details/<%= product.slug %> ">
                  View more <i class="fas fa-arrow-right button__icon"></i>
                </a>
            </div>
          </div>
        <% }) %>
          <div class="shop__modal" id="shop__modal">
            <div class="shop__modal-content">
              <!-- <i class="fas fa-times shop__modal-close"></i> -->

              <ul class="shop__modal-shop grid">
                <li class="shop__modal-service">
                  <i class="far fa-check-circle shop__modal-icon"></i>
                  <p>Added to your cart!</p>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </section>

    <!-- PORTFOLIO -->
    <section class="portfolio section" id="portfolio">
      <h2 class="section__title">Portfolio</h2>
      <span class="section__subtitle">Most recent work</span>

      <div class="portfolio__container container swiper mySwiper">
        <div class="swiper-wrapper">
          <% items.forEach(item => { %>
          <div class="portfolio__content swiper-slide">
            <% if (item.image === "") { %>
              <img class="portfolio__img" src="/images/no_image.png">
            <% } else { %>
              <img class="portfolio__img" src="/portfolio_images/<%= item._id %>/<%= item.image %>">
            <% } %> 

            <div class="portfolio__data">
              <h3 class="portfolio__title"><%= item.title %> </h3>
  
              <a href="/portfolio/view-details/<%= item.slug %>" class="button button--flex button--small portfolio__button">
                View Details
                <i class="fas fa-arrow-right button__icon"></i>
              </a>
            </div>
          </div>
          <% }) %> 
        </div>
        <div class="left-right__buttons">
          <!-- Add Arrows -->
          <div class="swiper-button-next">
            <i class="fas fa-angle-right swiper-portfolio-icon"></i>
          </div>
          <div class="swiper-button-prev">
            <i class="fas fa-angle-left swiper-portfolio-icon"></i>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- ABOUT -->
    <section class="about section" id="about">
      <h2 class="section__title">About Me</h2>
      <span class="section__subtitle">My introduction</span>

      <div class="about__container container grid">
        <img src="/images/profile-pic.jpg" alt="" class="about__img">

        <div class="about__data">
          <p class="about__description">
            Exprerienced illustrator working as an artist. Sewing and designing organic clothes, delivering the highest qualitiy possible.
          </p>
        </div>
      </div>
    </section>

    <!-- CONTACT ME -->
    <section class="contact section" id="contact">
      <h2 class="section__title">Contact Me</h2>
      <span class="section__subtitle">Get in touch</span>

      <div class="contact__container container grid">
        
        <form action="" class="contact__form grid">
          <div class="contact__inputs grid">
            <div class="contact__content">
              <label for="name" class="contact__label">Name</label>
              <input type="text" class="contact__input" id="name">
            </div>
  
            <div class="contact__content">
              <label for="email" class="contact__label">Email</label>
              <input type="email" class="contact__input" id="email">
            </div>
          </div>
  
          <div class="contact__content">
            <label for="project" class="contact__label">Subject</label>
            <input type="text" class="contact__input" id="subject">
          </div>
  
          <div class="contact__content">
            <label for="message" class="contact__label">Message</label>
            <textarea name="message" id="message" cols="0" rows="7" class="contact__input no__resize"></textarea>
          </div>
  
          <div>
            <a href="/portfolio/contact-me" class="button button--flex send__message">
              Send Message
              <i class="far fa-envelope button__icon"></i>
            </a>
          </div>
        </form>
         
      </div>
    </section>
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer__bg">
      <div class="footer__container container grid">
        <div>
          <h1 class="footer__title">Lumi</h1>
          <!-- <span class="footer__subtitle">Artist</span> -->
        </div>

        <ul class="footer__links">
          <li>
            <a href="/#services" class="footer__link">Services</a>
          </li>

          <li>
            <a href="/#portfolio" class="footer__link">Portfolio</a>
          </li>

          <li>
            <a href="/#contact" class="footer__link">Contact</a>
          </li>
        </ul>

        <div class="footer__socials">
          <a href="https://www.instagram.com/lumi_hen" class="footer__social" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>

          <a href="https://www.github.com/lumi-hen" class="footer__social" target="_blank">
            <i class="fab fa-github"></i>
          </a>

          <a href="#" class="footer__social" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>

      <p class="footer__copy">&#169; Lumi Hennig. All rights reserved</p>
    </div>
    
  </footer>

  <!-- SCROLL TOP -->
  <a href="#" class="scrollup" id="scroll-up">
    <i class="fas fa-arrow-up scrollup__icon"></i>
  </a>

  <!-- SWIPER JS --->
  <script src="/js/swiper.js"></script>
  <!-- Main JS -->
  <script src="/js/portfolio.js"></script>
  <!-- Util -->
  <script src="/js/util.js"></script>
</body>
</html>