<%- include('./layouts/header.ejs') %>
<div class="product__container">
  <div class="product__content">
    <div>      
      <a style="margin-bottom: 1rem;" class="button--flex button button--small" href="/#shop">
        <i class="fa-solid fa-arrow-left"></i> Go back
      </a>
    </div>
  <div class="product__bg">
      <div class="product__title--details"><h1><%= product.title %></h1></div>
      <hr>
      <img class="product__img" src="/product_images/<%= product._id %>/<%= product.image %>" alt="">
      <div class="product__data">
        <h4 id="price" class="product__description"><%= parseFloat(product.price).toFixed(2) %>&euro;</h4>
        <p class="product__description"><%= product.desc %></p>
  
        <div>      
          <a class="button--flex button button--small add__button" href="/cart/add/<%= product.slug %>">
          Add to cart <i class="fa-solid fa-cart-plus button__icon"></i>
          </a>
        </div>
    </div>
  </div>
  </div>

  <div class="shop__modal" id="shop__modal">
    <div class="shop__modal-content">
      <!-- <i class="fas fa-times shop__modal-close"></i> -->

      <ul class="shop__modal-shop grid">
        <li class="shop__modal-service">
          <i class="far fa-check-circle shop__modal-icon"></i>
          <p>Added to your cart!</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<%- include('./layouts/footer.ejs') %>